<form methods="get" action="/quizes/<%= quiz.id %>/answer">
	<p> Pregunta: <%= quiz.pregunta %> </p>
	<input type="text" name="respuesta" value="Responda aquí" />
	<input type="submit" value="Enviar" />
</form>
